#my-picture {
   img {
      height: 100vh;
   }
}

#this-is-me-sec {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
/*
   h2 {
      width: 100%;
   }

   p {
      width: 70%;
   }
*/
   #my-info {
      width: 70%;
      text-align: left;
   }

   #learning {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
         width: 50px;
         margin: 5px;
      }
   }

}



