#my-picture {
   img {
      height: 100vh;
   }
}

#this-is-me {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;



   #learning {
      img {
         height: 60px;
      }
   }

}



