#my-picture {
   img {
      height: 100vh;
   }
}

#this-is-me-sec {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;

   h2 {
      width: 100%;
   }

   p {
      width: 60%;
   }


   #learning {
      width: 40%;
      img {
         height: 50px;
      }
   }

}



